.paging{

	padding-top: 16px;

	hr{

		 border: 0.4px dotted #656565;
		 margin: 0px;
	}
}

.menu{


   background-color: #000000;
   background-image: url(header.jpg); 
   background-position: 100% 100%;
   background-repeat: no-repeat;
   height: 100vh;
   width:100%;


   .top-header{

   	padding-bottom: 40px;
    padding-top: 40px;


	i.fa.fa-envelope-o {
	    color: #fff;
	    font-size: 40px;
	}    

	i.fa.fa-mobile {
	    color: #fff;
	    font-size: 40px;
	}	

   }

	.navbar-default {
	    background-color: #1c0e35;
	    border-color: #1c0e35;
	}
	.navbar {
	    border-radius: 0px;
	} 

	.navbar-nav > li > a {
	    padding-top: 25px;
	    padding-bottom: 25px;
	    padding-left: 40px;
	    padding-right: 40px;

	}	

	.navbar-default .navbar-nav > li > a {
	    color: #fff;
	    font-size: 18px;
    }

	.navbar .navbar-nav {
	  display: inline-block;
	  float: none;
	  vertical-align: top;
	}

	.navbar .navbar-collapse {
	  text-align: center;
	}    


}

.main {

	h1{
	    font-size: 24px;
	    font-weight: 700;	
	}

	h2{
		font-style: 21px !important;
		font-weight: 700;
	}

	h3 {
	    font-size: 19px;
	    font-weight: 700;
	    color: #1c0e35;
	    margin-top: 14px;
	    padding-left: 20px;
	}		

	.service{

		.count{

			font-weight: 600;
		    font-size: 90px;
		    color: #1c0e35;
		    text-align: right;
		    line-height: 1;
		}
	}

	.padding-b {
	    padding-bottom: 20px;
	    padding-top: 20px;
	}

	.news {

		border: 0.5px #d8d3d3 solid;

		h4{
			padding: 0px 20px 0px 20px;
		    font-weight: 700;
		    line-height: 1.6;
		}

		.press{
			padding-top: 15px;
		    font-weight: 600;
		    padding-bottom: 0px;
		    color: #636363;			
		}
		p{
			padding-top: 1px;
			padding: 1px 7px 15px 20px;
		}

		img{
			width: 100%;
		}

		.padding-b {

			padding-bottom: 30px;
		}	
		
		.social-blog{

			background: #f8f8f8;
			margin: 1px;

			a{

				color: #fff;
			}
			.facebook{
				background: #3a56a2 !important;
			}

			.twitter{
				background: #22b0ec !important;
			}
			.google{
				background: #be3c24 !important;
			}
			.pinterest {

				background: #b11718 !important;
			}
    		p{
    			padding: 0px;
    		}

			i.fa.fa-retweet {
			    font-size: 21px;
			    padding: 10px 3px 9px 16px;
			}    
			
			ul, ol {
			    margin-top: 0;
			    margin-bottom: 0px;
			}					

			.list-inline > li {
			    display: inline-block;
			    background: #b7b7b7;
			    padding: 10px 0px 10px 12px !important;
			    width: 35px;
			}    		
		}

	
	
	}

	.brand {

		padding-top: 80px;
		padding-bottom: 80px;
		background: #f4f4f5;

		img{

			max-width: 200px;
    		max-height: 81px;

		}

		.list-inline > li {
		    display: inline-block;
		    padding-right: 30px;
		    padding-left: 30px;
		}		

	}
	
	.testimonial{

		padding-top: 80px;
		padding-bottom: 80px;
	}

	.post{

		padding-top: 80px;
		padding-bottom: 80px;
		background: #f4f4f5;

		h2{
			text-align: center;
			padding-bottom: 10px;

		}

		.thumbnail{
			padding-left: 0px;
    		padding-right: 0px;

			h3{

				font-size: 17px;
			}
		}

		h3{
			font-size: 18px;
			font-weight: 700;
			padding-bottom: 20px;

			span {
				padding-left: 40px;
				font-weight: 200;
			}
		}

	}

	.social{

		padding-top: 50px;
		padding-bottom: 50px;

		a{

		    font-size: 32px;
		    padding: 20px;			
		}


	}
				
}

.footer{

	padding-top: 50px;
	padding-bottom: 50px;
	background: #f4f4f5;

	.content{
		padding-right: 80px;
	}

	h1{

		font-size: 28px;
	}

	.envelop-icon{
		margin-top: 10px;
	    margin-bottom: 0px;
	    font-size: 35px;
	    color: #acacac;		
	}

	hr {
	    border-top: 1px solid #c3c3c3;
	}	

	.contact{
		font-size: 16px;
	}
}

.footer-bottom{

	background: #b7b7b7;
	padding-top: 15px;
	padding-bottom: 5px;

	a{
		color:#000000;
	}

}